<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extreme Tournament</title>
</head>
<body>
<h1>New team Created !!!!!</h1>
<h3><p style="color: #0b5ed7">Dear user, thanks to have Create Extreme tournament team invite your friends and join our tournaments have a nice week.</p></h3>
<img src="{{ asset('public/assets/img/icon72.png') }}" alt="Image">
</body>
</html>