<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h3>You did it! You registered on ExtremeTournament!</h3>
            Hi {{ name }}! You're successfully registered.
            <p class="block">
                To login, go to: <a href="{{ url('login_security') }}">this link </a>.<br>
                We invite you to read our terms and conditions in the attached file
                We hope that you will enjoy our platform !
            </p>
            <br>
                ExtremeBot
            <br>
            <div class="header text-center">
                <a>
                    <img src="{{ img }}" class="logo" alt="ExtremeTournament Logo">
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>