<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h3>Welcome to ExtremeTournament!</h3>
            Hi {{ name }}! You have made a complaint at {{ date | date }} it falls in the category of {{ type }}.
            <p class="block">
                We Will get back to you as soon as possible with the response <br>
                We hope that you will enjoy our platform !
            </p>
            <br>
            ExtremeBot
            <br>
            <div class="header text-center">
                <a>
                    <img src="{{ img }}" class="logo" alt="ExtremeTournament Logo">
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>